:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  --card-bg-color: #2b2b2b;
  --card-text-color: #ffffff;
  
  --tab-color: #000000;
  --tab-active-color: rgb(31, 31, 31);
  --tab-hover-color: rgb(14, 117, 201);
  --tab-border-color: rgb(14, 117, 201);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}




[data-theme='dark'] {
  /* --link-color: #d0ff00;  */
  --card-bg-color: #ffffff;

  /* card text color doesnt seem to be applying to the card? without !important */ 
  --card-text-color: #000000;  

  --tab-color: #ffffff;
  --tab-active-color: rgb(31, 31, 31);
  --tab-hover-color: rgb(14, 117, 201);
  --tab-border-color: rgb(14, 117, 201);
}

/* lets target card bodies */
/* .card-body {
  color: var(--card-text-color)!important;
  background-color: var(--card-bg-color);
} */


.nav-tabs .nav-link {
  color: var(--tab-color) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px var(--tab-border-color) !important;
  color: var(--tab-active-color) !important;
}

.nav-tabs .nav-link:hover {
  color: var(--tab-hover-color) !important;
  border-bottom: none;
}


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #161b74;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body.bg-dark {
  background-color: #121212;
  color: #ffffff;
}

body.bg-light {
  background-color: #ffffff;
  color: #000000;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #cf1212f8!;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */